.dsf-header {
  height: 70px;
  background-color: var(--dsf-bg-primary);
  color: var(--dsf-font-primary);
  display: flex;
  align-items: center;
  padding: 20px;
}

.dsf-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dsf-header-title h1 {
  font-size: 20px;
  font-weight: 700;
}

.dsf-nav-counter h1 {
  font-weight: 700;
  font-size: 12px;
}
